In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_json('loan_data.json')

In [4]:
df

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y
...,...,...,...,...,...,...,...,...,...,...
506,LP002978,Female,No,0,Graduate,No,1,Rural,low,Y
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y
510,LP002990,Female,No,0,Graduate,Yes,0,Semiurban,medium,N

In [5]:
df.shape

(511, 10)

In [6]:
df.head()

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y

In [13]:
df.tail()

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
506,LP002978,Female,No,0,Graduate,No,1,Rural,low,Y
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y
510,LP002990,Female,No,0,Graduate,Yes,0,Semiurban,medium,N

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Application_ID      511 non-null    object
 1   Gender              511 non-null    object
 2   Married             511 non-null    object
 3   Dependents          511 non-null    object
 4   Education           511 non-null    object
 5   Self_Employed       511 non-null    object
 6   Credit_History      511 non-null    int64
 7   Property_Area       511 non-null    object
 8   Income              511 non-null    object
 9   Application_Status  511 non-null    object
dtypes: int64(1), object(9)
memory usage: 40.0+ KB

In [20]:
df.isnull().sum()

Application_ID        0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
Credit_History        0
Property_Area         0
Income                0
Application_Status    0
dtype: int64

In [21]:
df.replace({"Application_Status":{1:"Y",0:"N"}},inplace=True)

In [22]:
df.head()

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y

In [73]:
#1 Find % of total applicants for each unique value of dependents

In [23]:
df["Dependents"].value_counts(normalize=True).round(2)

0     0.58
2     0.17
1     0.17
3+    0.09
Name: Dependents, dtype: float64

In [49]:
#2 Find the %of applications approved for self-employed applicants.

In [32]:
pv=df[(df.Self_Employed == "Yes")]
nv=pv["Application_Status"].value_counts(normalize=True).round(2)
nv

Y    0.66
N    0.34
Name: Application_Status, dtype: float64

In [184]:
precentageapproved =nv['Y']
precentageapproved

0.66

In [ ]:
#3What is the % of rejections for married male applicants?

In [22]:
nd=df[(df.Married == 'Yes') & (df.Gender == 'Male')]

In [23]:
nc=nd["Application_Status"].value_counts(normalize=True).round(2)
nc

Y    0.72
N    0.28
Name: Application_Status, dtype: float64

In [25]:
precentagerejections =nc ['N']
precentagerejections

0.28

In [1]:
#4 Which property area has the maximum approval ratio.

In [212]:
cout_y=df[(df.Application_Status == 'Y')] 
cout_y

In [210]:
cout_appr=cout_y["Application_Status"].value_counts().max()
cout_appr
ct=cout_y["Property_Area"].value_counts()
ct

Semiurban    153
Urban        104
Rural         90
Name: Property_Area, dtype: int64

In [211]:
rt=(ct/cout_appr)*100
rt
rt.nlargest(1)

Semiurban    44.092219
Name: Property_Area, dtype: float64

In [1]:
#5 Find average number of dependents per income group.

In [191]:
count_dep=df['Dependents'].count()
count_dep

511

In [192]:
avg_dep=df.groupby(["Income"])[["Income"]].value_counts()/count_dep
avg_dep

Income
high      0.088063
low       0.534247
medium    0.377691
dtype: float64

In [33]:
#6. Find approval ratio for various combinations of Property_Area and Marrital status. Following is the expected output table:

In [32]:
df

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y
...,...,...,...,...,...,...,...,...,...,...
506,LP002978,Female,No,0,Graduate,No,1,Rural,low,Y
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y
510,LP002990,Female,No,0,Graduate,Yes,0,Semiurban,medium,N

In [9]:
#filter the approval status only
cout_y=df[(df.Application_Status == 'Y') & (df.Property_Area != 'Semiurban')]
cout_appr=cout_y["Application_Status"].value_counts().max()
cout_appr

194

In [10]:
#
ct=cout_y.groupby(["Property_Area",'Married'])[["Property_Area"]].value_counts()/cout_appr*100
ct

Property_Area  Married
Rural          No         17.525773
               Yes        28.865979
Urban          No         15.463918
               Yes        38.144330
dtype: float64

In [11]:
ct.reset_index()

  Property_Area Married          0
0         Rural      No  17.525773
1         Rural     Yes  28.865979
2         Urban      No  15.463918
3         Urban     Yes  38.144330

In [5]:
#7. Create a simple predictive model to assess whether a loan application will be approved or rejected and provide the accuracy score.

In [6]:
df
df=df.replace(to_replace="+3",value=4)

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,Male,No,0,Graduate,No,1,Urban,medium,Y
1,LP001003,Male,Yes,1,Graduate,No,1,Rural,medium,N
2,LP001005,Male,Yes,0,Graduate,Yes,1,Urban,low,Y
3,LP001006,Male,Yes,0,Not Graduate,No,1,Urban,low,Y
4,LP001008,Male,No,0,Graduate,No,1,Urban,medium,Y
...,...,...,...,...,...,...,...,...,...,...
506,LP002978,Female,No,0,Graduate,No,1,Rural,low,Y
507,LP002979,Male,Yes,3+,Graduate,No,1,Rural,medium,Y
508,LP002983,Male,Yes,1,Graduate,No,1,Urban,medium,Y
509,LP002984,Male,Yes,2,Graduate,No,1,Urban,medium,Y
510,LP002990,Female,No,0,Graduate,Yes,0,Semiurban,medium,N

In [10]:
df1=df.replace({'Gender':{'Male':0,'Female':1},'Married':{'No':0,'Yes':1},'Education':{'Graduate':1,'Not Graduate':0},'Self_Employed':{'No':0,'Yes':1},
            'Property_Area':{'Rural':0,'Semiurban':1,'Urban':2},'Income':{'medium':0,'low':1,'high':2},'Application_Status':{'N':0,'Y':1}})

In [11]:
df1=df1.replace(to_replace="3+",value=4)
df1

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,0,0,0,1,0,1,2,0,1
1,LP001003,0,1,1,1,0,1,0,0,0
2,LP001005,0,1,0,1,1,1,2,1,1
3,LP001006,0,1,0,0,0,1,2,1,1
4,LP001008,0,0,0,1,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...
506,LP002978,1,0,0,1,0,1,0,1,1
507,LP002979,0,1,4,1,0,1,0,0,1
508,LP002983,0,1,1,1,0,1,2,0,1
509,LP002984,0,1,2,1,0,1,2,0,1
510,LP002990,1,0,0,1,1,0,1,0,0

In [12]:
X=df1.drop(columns=['Application_ID','Application_Status'])
Y=df1['Application_Status']

In [13]:

print(X)

     Gender  Married Dependents  Education  Self_Employed  Credit_History  \
0         0        0          0          1              0               1
1         0        1          1          1              0               1
2         0        1          0          1              1               1
3         0        1          0          0              0               1
4         0        0          0          1              0               1
..      ...      ...        ...        ...            ...             ...
506       1        0          0          1              0               1
507       0        1          4          1              0               1
508       0        1          1          1              0               1
509       0        1          2          1              0               1
510       1        0          0          1              1               0

     Property_Area  Income
0                2       0
1                0       0
2                2       1
3                2       1
4                2       0
..             ...     ...
506              0       1
507              0       0
508              2       0
509              2       0
510              1       0

[511 rows x 8 columns]

In [40]:
#train test split

In [14]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.1,stratify=Y,random_state=2)

In [15]:
print(X.shape,X_train.shape,X_test.shape)

(511, 8) (459, 8) (52, 8)

In [47]:
#training model

In [16]:
classifier=svm.SVC(kernel='linear')

In [17]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [18]:
X_train_predition= classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_predition,Y_train)

In [19]:
print('accuracy score:',training_data_accuracy)

accuracy score: 0.803921568627451

In [122]:
#test model

In [20]:
X_test_predition= classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_predition,Y_test)

In [21]:
print('accuracy score:',test_data_accuracy)

accuracy score: 0.8461538461538461

In [ ]:
input_data=(0,0,0,1,0,1,2,0)
input_data_as_numpy_array=np.asarray(input_data)

input_data_reshape=input_data_as_numpy_array.reshape(1,-1)


prediction =classifier.predict(input_data_reshape)

In [23]:

if(prediction[0]=='N'):
    print('loan is rejected ')
else:
    print('loan is approved')

loan is approved